h1 a {
    color: #FCA205;
    font-size: 30px;
    font-family: 'Lobster';
}
body {
	vertical-align: top;
	float: top;

}
a {
	color: #AAAAAA;
	font-family: 'Lobster';
	font-size: 30px;
}
.menu-header { 
	height:5%;
    background: #EEE;
    padding-right: 99%; 
    border: solid 1px black; 
    float: left;
    position: absolute; 
}
.menu-login {
	float: right;
	position: absolute;
	left: 95%
}
