/*h1 a {
    color: #FCA205;
    font-size: 30px;
    font-family: 'Lobster';
}
body {
	vertical-align: top;
	float: top;

}
a {
	color: #AAAAAA;
	font-family: 'Lobster';
	font-size: 30px;
}
.menu-header { 
	height:5%;
    background: #EEE;
    padding-right: 99%; 
    border: solid 1px black; 
    float: left;
    position: absolute; 
}
.menu-login {
	float: right;
	position: absolute;
	left: 95%
}
*/
h1 {
    color: #336;
    font-size: 300%;
}
/*.menu {*/
    /*border: solid 1px black;*/
    /*position: relative;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
/*.menu-login {*/
    /*border: solid 3px red;*/
    /*position: absolute;*/
    /*left: 90%;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*align-items: center;*/

/*}*/
figure {
	text-align: center;

}
figure img {
	width: 725px;
	height: 200px;
}
body {
	background-image: url("kts/website/static/image/skulls_background.jpg");
/*	background-color: #c7b39b;*/
}

.header {
    margin: 200px;
}
.menu {
    margin: 0;
    padding: 0;
}
.menu ul,
.menu ol {
    list-style: none;
}
.menu > ul {
    display: flex;
    justify-content: center;
}
.menu > ul li a {
    display: block;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 13%, rgba(243,243,243,1) 57%, rgba(237,237,237,1) 86%, rgba(255,255,255,1) 97%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 5%,rgba(255,255,255,1) 5%,rgba(255,255,255,1) 13%,rgba(243,243,243,1) 57%,rgba(237,237,237,1) 86%,rgba(255,255,255,1) 97%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 5%,rgba(255,255,255,1) 5%,rgba(255,255,255,1) 13%,rgba(243,243,243,1) 57%,rgba(237,237,237,1) 86%,rgba(255,255,255,1) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    color: #454547;
    padding: 15px 30px 15px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
.menu > ul li {
    position: relative;
    border-right: 1px solid #b2b3b5;
}
.menu > ul li:first-child{
    border-left: 1px solid #b2b3b5;
}
.menu > ul li:last-child{
    border-right: 1px solid #b2b3b5;
}
.menu li a:hover{
    background: #454547;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black ;
    transition: all 0.2s ease;
}
.menu li ul {
    position: absolute;
    min-width: 150px;
    right: 0px;
    display: none;
}
.menu li > ul li {
    border: 1px solid #b2b3b5;
}
.menu li > ul li a {
    padding: 10px;
    text-transform: none;

}
.menu li:hover > ul {
    display: block;
}